.login-btn {
  width: 100%;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-radius: 3px;
  padding: 8px;
  margin: 20px 0 15px;
  font-size: 13px;
  cursor: pointer;
}

.login-btn:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}
